<% provide(:title, 'All teams') %>

<script>
  $(document).ready(function () {
    $("#listTeams").DataTable();


  });

</script>

<div class="divs">
  <div class="col-xs-12">
    <div class="row">
    <div class="box">
      <h1 class="text-center text-capitalize">All Teams</h1>

      <div class="box-body table-responsive">
        <table id="listTeams" class="table table-bordered table-hover" style="background-color: #FFFFFF">
          <thead>
          <tr class="info">
            <th class="text-center" style="background-color:lightgrey;">Name</th>
            <th class="text-center" style="background-color:lightgrey;">User</th>
            <th class="text-center" style="background-color:lightgrey;">League</th>
            <% if !current_user.admin %>
              <th class="text-center" style="background-color:lightgrey;">Actions</th>
            <% end %>
          </tr>
          </thead>

          <tbody>
            <%= render @teams %>
          </tbody>
        </table>
      </div>
    </div>
    </div>
  </div>
</div>
