<% provide(:title, 'All teams') %>
<div class="divs">
  <div class="col-xs-12">
    <div class="row">
    <div class="box">
      <h1 class="text-center text-capitalize">All Teams</h1>

      <div class="box-body table-responsive">
        <table id="listTeams" class="table table-bordered table-hover" style="background-color: #FFFFFF">
          <thead>
          <tr class="info">
            <th class="text-center" style="background-color:lightgrey;">Name</th>
            <th class="text-center" style="background-color:lightgrey;">User</th>
            <th class="text-center" style="background-color:lightgrey;">League</th>
            <th class="text-center" style="background-color:lightgrey;">Actions</th>
          </tr>
          </thead>

          <tbody>
            <%= render @teams %>
          </tbody>
        </table>
      </div>
    </div>
    </div>
  </div>
  <% content_for :js do %>
      <script>
        $(function () {
          $("#listTeams").DataTable();
        });
      </script>

  <% end %>
</div>
