<% provide(:title, @team.name) %>
<div class="row">
  <div class="divs box-body table-responsive">
    <aside class="col-md-4">
      <section class="user_info">
        <h1>
          <% if @team.image_path.nil? %>
          <%= @team.name %>
          <% else %>
            <%= image_tag @team.image_path, size: "150x150" %>
            <%= @team.name %>
          <% end %>
        </h1>
      </section>
    </aside>
    <aside class="col-md-8">
      <% if @team.players.any? %>
          <h3>Players</h3>
          <div class="row">
          <table id="listPlayers" class="table table-bordered table-hover" style="background-color: #FFFFFF">
            <thead>
            <tr class="info">
              <th class="text-center" style="background-color:lightgrey;">Name</th>
              <th class="text-center" style="background-color:lightgrey;">Team</th>
              <th class="text-center" style="background-color:lightgrey;">Position</th>
              <th class="text-center" style="background-color:lightgrey;">Value</th>
            </tr>
            </thead>
            <tbody>
            <%= render @players %>
            </tbody>
          </table>
          </div>
      <% end %>
    </aside>
  </div>
  <% content_for :js do %>
      <script>
        $(function () {
          $("#listPlayers").DataTable();
        });
      </script>
  <% end %>
</div>
