<div class="center jumbotron">
  <h1>Virtual Football League</h1>

  <h2>
    Esta é a home page da aplicação!
  </h2>

  <%= link_to "Registe-se já!", signup_path, class: "btn btn-lg btn-primary" %>
</div>
