
<section class="header-sec" id="home" >
  <div class="overlay">
    <div class="container">
      <div class="row text-center" >

        <div class="col-lg-8 col-lg-offset-2 col-md-8 col-md-offset-2 col-sm-10 col-sm-offset-1">

          <h2 data-scroll-reveal="enter from the bottom after 0.1s">
            <strong>
              Virtual Football League
            </strong>
          </h2>

          <p data-scroll-reveal="enter from the bottom after 0.8s">
            This is the Virtual Football League web page.
            Start now with your own team, by choosing your favourite players and
            play against other players for the first place of your league!
          </p>

          <%= link_to "Sign up now!", signup_path, class: "btn btn-lg btn-primary" %>

          <br />




        </div>

      </div>
    </div>
  </div>

</section>