<% provide(:title, "Home") %>
<!DOCTYPE html>
<html>
<head>
  <title><%= yield(:title) %> | Football Virtual League</title>
</head>
<body>
<h1>Football Virtual League</h1>
<p>
  Esta é a home page da aplicação!
</p>
</body>
</html>