<% provide(:title, "Rules") %>
<!DOCTYPE html>
<html>
<head>
  <title><%= yield(:title) %> | Football Virtual League</title>
</head>
<body>
<div class="divs">
  <h1>Football Virtual League</h1>
  <h2>Regras:</h2>
  <p>
    Esta é a página onde vão estar as regras.
  </p>
</div>
</body>
</html>