<% provide(:title, "Rules") %>
<!DOCTYPE html>
<html>
<head>
  <title><%= yield(:title) %> | Football Virtual League</title>
</head>
<body>
<div class="divs">
  <h1>Football Virtual League</h1>
  <h2>How to play</h2>
  <p>
    To play you must make a register IN the website and create a team in
    our principal league and have 15 players from the must important teams
    of the world. For that we give you a initial budget.

    You can make changes in your team before the games and buy and sale your
    players.

    Football Virtual League give at the final of the league coach points
    for your ranking. This points will be defined by your rating in the last league.

  </p>
  <h2>Team</h2>
  <p>
    Your team is defined by:

    2 Goalkeppers
    5 Defense
    5 Midfield
    3 Forward

    When the game begin you will not have the opportunity to change the players.

  </p>
  <h2>Game</h2>
  <p>
    Everyday at 12:00 pm the games of the current matchday will be played!
    When you win or draw, your budget will be increased. 10 coins for a win and 5 coins for a draw.
   </p>
  <h2>Transfer</h2>
  <p>
    After you create your team, you can make transfers. The transfer is exchange a player from your team from an available player.
  </p>
  <h2>Final Moments</h2>
  <p>
   When a league finish, you are capable to start again a new league with new draft team and players. </p>
  <h2>ENJOY AND GOOD LUCK!!</h2>
</div>
</body>
</html>