<% provide(:title, "Rules") %>
<!DOCTYPE html>
<html>
<head>
  <title><%= yield(:title) %> | Football Virtual League</title>
</head>
<body>
<div class="divs">
  <h1>Football Virtual League</h1>
  <h2>How to play</h2>
  <p>
    To play you must make a register IN the website and create a team in
    our principal league and choose 15 players from the must important teams
    of the world. For that we give you a initial budget.

    You can make changes in your team before the games and buy and sale your
    players.

    Football Virtual League give at the final of the league coach points
    for your ranking. This points will be defined by your rating in the last league.

  </p>
  <h2>Team</h2>
  <p>
    For create your team you must choose 15 players:

    2 Goalkeppers
    5 Defense
    5 Midfield
    3 Forward

    To make your choice you have a budget of 900 coins.


    When the game begin you will not have the opportunity to change the players.

  </p>
  <h2>Transfer</h2>
  <p>
    After you create your team, you can make transfers. The transfer is exchange a player from your team from an available player.
  </p>
</div>
</body>
</html>