<p id="league-<% league.name %>">
  <%= link_to league.name, league %> &emsp;
  <% if current_user.admin  %>
      <%= link_to 'Delete', league, method: :delete, :class => 'btn btn-xs btn-danger' %>
  <% end %>
</p>