<% provide(:title, "Calendar") %>
<div class="divs">
  <div id="head">
    <table style="right:25%">
      <tr>
        <td>
          <button><<</button>
        </td>
        <td>
          <table>
            <tr><td>Jornada X</td></tr>
            <tr><td>Data</td></tr>
          </table>
        </td>
        <td><button>>></button></td>
      </tr>
    </table>
  </div>
</div>