<% provide(:title, "Calendar") %>
<div class="divs">
  <select>
    <% @journeys.each do |journey| %>
        <% if(journey.date == Date.today()) %>
            <option selected>Journey <%= journey.number %></option>
            <% else %>
        <option>Journey <%= journey.number %></option>
        <% end %>
    <% end %>
  </select>
  <script>var j=<%= @journeys.first.games.to_s() %>;
  alert(j);</script>
</div>
