
<div>
  <h1>Game details</h1>
  <div class="detailsGameResultado">
    <div class="equipaCasa">
      <img src="http://www.detudo.org/wp-content/uploads/2008/07/simbolo-gotico-ying-yang.jpg"/>
    </div>
    <div class="resultado">
      <span><%@game.date%></span>
      <div class="r">
        <div>
          <div class="resultado">@game.team1_score</div>
          <span><%@team1.name%></span>
        </div>
        <div>
          <div class="resultado">@game.team2_score</div>
          <span><%@team2.name%></span>
        </div>
        <div>
          <div class="resultado">@game.team2_score</div>
          <span><%@team2.name%></span>
        </div>
      </div>
    </div>
    <div class="equipafora">
      <img src="http://www.detudo.org/wp-content/uploads/2008/07/simbolo-gotico-ying-yang.jpg"/>
    </div>
  </div>
  <div class="equipas">
    <div class="casa"></div>
    <div class="fora"></div>
  </div>
</div>