
<div class="divs">
  <div class="detailsGameResultado">
    <div class="casa">
      <img class="imgCasa" src="http://www.detudo.org/wp-content/uploads/2008/07/simbolo-gotico-ying-yang.jpg">
      <p class="equipa">equipa a</p>
    </div>
    <div class="result">
      <p class="data">12 de junho</p>
      <p class="score">0-0</p>
    </div>
    <div class="fora">
      <img class="imgFora" src="http://www.detudo.org/wp-content/uploads/2008/07/simbolo-gotico-ying-yang.jpg">
      <p class="equipa">equipa b</p>
    </div>
  </div>
</div>