<% provide(:title, 'All players') %>
<div class="divs">
  <h1>All players</h1>

  <table class="table table-hover table-striped">
    <thead>
    <tr class="info">
      <th>Name</th>
      <th>Team</th>
      <th>Position</th>
      <th>Value</th>
    </tr>
    </thead>
    <tbody>
    <%= will_paginate %>
        <%= render @players %>
    </tbody>
  </table>
<%= will_paginate %>
</div>