<% provide(:title, @player.name) %>
<div class="row">
  <div class="divs">
    <aside class="col-md-4">
      <section class="user_info">
        <h1>
          <%= @player.name %>
          <%= @player.position %>
          <%= @player.value %>
        </h1>
      </section>
    </aside>
  </div>
</div>
