<% provide(:title, @player.name) %>
<div class="row">
  <div class="divs">
    <div class="col-md-4 col-md-offset-4" style="background-color: whitesmoke">
      <section class="user_info">
          <p class="text-center"><%= render :partial => '/players/playerImage', :locals => { :player => @player, :image_size => "150x150" } %></p>
          <h1 class="text-center"><%= @player.name %></h1>
          <% if @player.position == "GK" %>
            <p class="text-center"><b>Position: </b>GoalKeeper</p>
          <% elsif @player.position == "DEF" %>
            <p class="text-center"><b>Position: </b>Defender</p>
          <% elsif @player.position == "MID" %>
            <p class="text-center"><b>Position: </b>Midfielder</p>
          <% else %>
            <p class="text-center"><b>Position: </b>Forward</p>
          <% end %>
          <p class="text-center"><b>Value: </b><%= @player.value %></p>
      </section>
    </div>
  </div>
</div>
