<script>
  var numero=document.getElementById("number");
  numero.innerHTML="Journey <%= journey.number%>";
  var dataj=document.getElementById("data");
</script>
<tbody>
<%
  x=0;
  begin%>
<tr>
  <td>Eve</td>
  <td>1-<%= journey.number%></td>
  <td>Jackson</td>
</tr>
<%
  x=x+1
  end while x<3
%>
</tbody>