<footer class="footer">
  <small>
    Aplicação elaborada por:
    <p><a href="http://a64362.alunos.uminho.pt">André Lara</a></p>
    <p><a href="http://pg30462.alunos.uminho.pt">Catarina Cardoso</a></p>
    <p><a href="http://pg30465.alunos.uminho.pt">David Castro</a></p>
    <p><a href="http://pg29025.alunos.uminho.pt">Pedro Machado</a></p>
  </small>
</footer>