<footer class="footer">
  <small>
    Aplicação elaborada por:
    <p><a href="mailto:a64362%40alunos.uminho.pt?Subject=Virtual%20Football%20League" target="_top"> <i class="fa fa-envelope-o"></i>André Lara</a></p>
    <p><a href="mailto:pg30462%40alunos.uminho.pt?Subject=Virtual%20Football%20League" target="_top"> <i class="fa fa-envelope-o"></i>Catarina Cardoso</a></p>
    <p><a href="mailto:pg30465%40alunos.uminho.pt?Subject=Virtual%20Football%20League" target="_top"> <i class="fa fa-envelope-o"></i>David Castro</a></p>
    <p><a href="mailto:pg29025%40alunos.uminho.pt?Subject=Virtual%20Football%20League" target="_top"> <i class="fa fa-envelope-o"></i>Pedro Machado</a></p>
  </small>
</footer>
